/* login.component.css */
p{
  margin:0px;
}

.login-container {
    /* max-width: 800px; */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    
  }

  
  .background-image-container{
    background-image:url("/assets/images/login_bgimg1.jpg") ;
    background-size: cover;
    /* height:100vh; */
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
  }

  /* .form-container{
    font-size: large;
    display: flex;
    flex-direction: column;
    gap:2px;
  } */

  .form-group {
    margin-bottom: 15px;
    color: white;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 38rem;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* This media query will adjust the input width for screens less than 768px wide */
  @media screen and (max-width: 768px) {
    input {
      width: 100%; 
    }
  }
  

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .down-login{
    font-weight: bold;
     color: darkblue;
  }

  .footer{
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    background-color:lightseagreen; /* Navbar background color */
    color: black;
  }

  .signup-reset{
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .demo-login-btns{
    margin-top:15px;
    display: flex;
    justify-content: center;
    gap:2px
  }

  .demo-login-btns button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  